[google]
domain = example.com
serviceAccount = abcdef1234@developer.gserviceaccount.com
serviceAccountKey = secret.p12
adminToImpersonate = your-admin@example.com
blacklistedUsers = ['some-blacklisted-user@example.com']
# WARNING: You have to set/get this manually from the Admin console,
# since there's no API for this feature. :(
retentionPeriodInDays = 3600
